
::-moz-selection { /*for Firefox */
  
  background: #FFFFFF;
text-shadow: 1px 1px 0 ;
}

::selection {
 text-shadow: 1px 1px 0;
  background: #FFFFFF;
}
html {
  scroll-behavior: smooth;
}


a{
	text-decoration: none;
}


.nav-bar{
	background-color: #fff;
}
#logo{
	    height: 60px;
    width: auto;
}
.navbar-nav .active{
background-color: #FF5A00;
border-radius: 30px;

}
#active-link{

		color: #fff!important;
}
.nav-item a{
	color: #000!important;
	font-weight: 500!important;

}






#carouselExampleCaptions{
	clip-path: polygon(50% 80%, 100% 66%, 100% 0, 0 0, 0 66%);


	
}
.carousel-caption{

    padding-bottom: 300px!important;


}
.carousel-button{
	margin-left:20px;
	margin-top: 10%;
	position: absolute;
	text-align: center;
	color: orange;
	z-index: 99999;
	font-size: 40px;
	cursor: pointer;

}
.carousel-caption h1{
	font-size: 50px;
}
.carousel-caption a{
	background-color: #FF5A00;
	padding-top: 5px;
border: 1px solid #FF5A00;
    border-radius: 100px;
    margin: 100px 10px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.carousel-caption a:hover{
text-decoration: none;
color:#000;
}

#right-side-arrow{
	color: #FF5400;
}
.get-start-button{
	background-color: #FF5A00;
	padding-top: 5px;
border: 1px solid #FF5A00;
    border-radius: 100px;
    margin: 40px 0;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.get-start-button:hover{
text-decoration: none;
color:#000;
}
#short-underline{
	background-color:#FF5400;
	height: 3px;
	width: 60px;
	margin: 0 0 5px 0;
}
#icon{
	font-size: 40px;
	color: #FF5400;
}
.grow-with-us{
	width: 100%;
    height: 50ch;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url(IMG/22.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.grow-center{
	width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}
.grow-center h3{
	font-size: 50px;
}
.grow-center p{
	font-size: 20px;
}
.our-team{
	
	background-color: #F9F9F9;

}
#our-team1{
	margin-top: 10px;

}
.progress{

	height: 10px!important;
	margin-left: 20px;
	margin-bottom: 5px;
}
.progress-up{
	background-color: #FF3904!important;
}
.progress-down{
	background-color: #000!important;
}
#progress-bar-head{
	text-align: left;
	margin-left: 20px;
}
#progress-bar-head-persent{
	/*margin: 0 0 0 80px;*/
	font-weight: 900;
	margin-left: 10px;

}
#team-info{
	margin-top: 10px;
}
.about-us{
	padding: 5px;
	background-color: #fff;
}



.portfolios ul{
	list-style: none;
}

.portfolios{
    padding: 100px 0;
}

.work-nav ul {
    display: flex;
    justify-content: center;
    margin-top: 68px;
}

.work-nav ul li{
    padding: 8px;
    cursor: pointer;
    position: relative;
}

.work-nav ul li::after{
    position: absolute;
    content: "";
    height: 15px;
    width: 1px;
    background: black;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.work-nav ul li:last-child::after{
    display: none;
}

.gallary-img img{
    max-width: 100%;
}

.gallary-img{
    position: relative;
}

.work-padding{
    padding: 2px;
}

.gallary{
    margin-top: 20px;
}
.mixitup-control-active{
	color: #FF6600;
}

.think-big-background{
	background-color: #000;
}

.think-big-background h2{
	font-size: 50px;
	
}
.think-big{
	width: 100%;
    height: 50ch;
    background-image:url(IMG/bubble.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;

}


.underline-card{
	background-color: grey;
	height: 1px;
	width: 215px;
}
#card{
	box-shadow: 0 0 13px 0px black;
	 border-radius: 10px;
	 padding: 20px 0px 0px 17px;
	 margin-top: 60px;
	     margin-left: -30px;

}
#card-body{
	margin: 58px -100px 0 50px;

}

.get-start-button-1{

	padding-top: 5px;
border: 1px solid #FF5A00;
    border-radius: 100px;
       margin: 40px 0px 0px -16px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;

}
.get-start-button-1:hover{
	background-color: #797979;
	color: #fff;
	box-shadow: 0 0 20px 0px black;	
}
.get-start-button-1 a{
	color: #000;
}
.get-start-button-1 a:hover{
color: #fff;
	
}
.pricing{
	margin-top: 10%;
}
.experience{
	margin-top: 5%;
}

#experience-text{
	margin-top: 10%;
	text-align: right;
}
#experience-text-1{
	margin-top: 10%;
	
}
.email-submit{
	background-color: #1E1A21;
	color: white;
	position: relative;
}
.email-submit a{
	color: #fff;
	
}
.email-submit-inside{
	
	
    color: #fff;
    text-align: center;
padding-top: 70px;
    padding-bottom: 70px;
}
#email{
	padding: 10px 100px; 
	border-radius: 50px;

	
}

#email-submit{
	background-color: #FF3000;
	border: 0 ;
	color: #fff;
	padding: 5px 25px;
	margin-left: -110px;
}
.location{
	margin-top: 5%;
}

.location ul{
list-style: none;
display: flex;
margin: 0 0 0 -40px;


}
.location ul li{

	letter-spacing: 20px;

   

}
.location ul li a{
	color:#262626;
}




/*form*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
	margin-top: 5px;
  background-color: #FF4200;
  color: white;
  padding: 12px 100px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FF713F;
}

.form-about p,h3{
	text-align: center;
}
#form-1{
	    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.footer{
	background-color: #1B1928;
padding: 4% 40%;
margin-top: 10px;

}
.social-icon ul{
list-style: none;
display: flex;
margin: 0 0 0 -23px;



}
.social-icon ul li{

	letter-spacing: 20px;

   

}
.social-icon ul li a{
	color:#9D9D9D;
}
.footer p{
text-align: center;
	color: #fff;
}

